.container {
  width: 100%;
  max-width: 900px;
  align-content: center;
  margin: auto;
  padding-top: 1rem;
  /* padding-bottom: 2rem; */
  background-image: linear-gradient(
    to right,
    rgb(61, 5, 61),
    rgb(114, 40, 184),
    rgb(61, 5, 61)
  );
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 8px 8px 0px 0px;
}
